{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/services.js' %}"></script>

    
    	<div class="hal-image">
    		<a onclick="voiceAssit()" id="hal-image-ID">
    		<img src="{% static 'img/hal.png'%}">
    		</a>
    		<audio id="audioElem" src="/media/audio/audio_out.mp3""></audio>
			 <!-- <audio id="audio1"  controls preload="auto" autobuffer></audio> -->
			  <!-- <source src="voiceAssitAudio" type="audio/mpeg"> -->
		
    </div>
   

{% endblock %}